<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/contex
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="app.properties" />

    <bean name="customeRepository"
        class="no.oslomet.repository.HibernateCustomerRepositoryImpl" >
        <property name="dbUsername" value="${dbUsername}"/>
    </bean>

    <bean name="customerService"
          class="no.oslomet.service.CustomerServiceImpl" autowire="byType">
         <!-- <constructor-arg index="0" ref="customeRepository" /> -->
    </bean>
</beans>