<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="customeRepository"
        class="no.oslomet.repository.HibernateCustomerRepositoryImpl" />

    <bean name="customerService"
          class="no.oslomet.service.CustomerServiceImpl" autowire="byType">
         <!-- <constructor-arg index="0" ref="customeRepository" /> -->
    </bean>
</beans>